body {
    margin: 0;
    font-family: 'Roboto';
}

.logo{
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.logo .surya{
    font-weight: bold;
}

.logo .energy{
    font-weight: 300;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.testimonials {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.header, .cards, .footer{
    padding: 25px 85px;
}

.header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.nav-links ul li a {
    text-decoration: none;
    color:#F9FAF8;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-links ul li a:hover{
    background-color: #304057;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-content {
    width: 60%;
}

.hero-text {
    margin-top: 5px;
    padding-right: 4.5rem;
}

.hero-img {
    background-color: #3b4149;
    width: 75%;
    height: 40vh;
}

.hero-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    border: none;
    cursor: pointer;
}

.btn-signup {
    padding: 10px 25px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-weight: 900;
}

.btn-signup:hover{
    background-color: #2968ce;
}

.cards {
    display: flex;
}

.card {
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border: 5px solid #3882F6;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    border-radius: 20px;
}

.card p {
    width: 90%;
    text-align: center;
    hyphens: auto;
    color: #2c2c2c;
}

.card-span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #363636;
}

.testimonials {
    padding: 25px 70px 25px 100px;
}

.quote{
    margin-bottom: 0px;
}

.quoteby{
    text-align: right;
    margin: 0;
    font-weight: 700;
}

.cta-container {
    margin: 5rem 10rem;
    padding: 4rem 8rem;
    background: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.cta-container .btn-signup{
    flex-shrink: 0;
    flex-grow: 2;
    font-size: 1.2rem;
    border: 1px solid #F9FAF8;
}

.cta-text div:nth-child(1) {
    font-size: 1.7rem;
    font-weight: 700;
}